<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>電商平台 - 管理商品</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<div th:replace="/fragment/navbar :: navbar"></div>

<div class="container mt-5">
    <h3>管理商品</h3>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col" class="text-center">#</th>
            <th scope="col" class="text-center">名稱</th>
            <th scope="col" class="text-center">描述</th>
            <th scope="col" class="text-center">價格</th>
            <th scope="col" class="text-center">數量</th>
            <th scope="col" class="text-center">上架日期</th>
            <th scope="col" class="text-center">圖片</th>
            <th scope="col" class="text-center">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr style="height:100px;" th:each="product,iterStat : ${productList}">
            <th class="align-middle text-center" scope="row" th:text="${iterStat.count}">#</th>
            <td class="align-middle text-center" th:text="${product.name}">名稱</td>
            <td class="align-middle text-center" th:text="${product.description}">描述</td>
            <td class="align-middle text-center" th:text="${product.price}">價格</td>
            <td class="align-middle text-center" th:text="${product.quantity}">數量</td>
            <td class="align-middle text-center" th:text="${product.date}">上架日期</td>
            <td class="align-middle text-center">
                <img th:src="@{/product/{id}/photo(id=${product.id})}" alt="商品圖片"
                     height="80" onerror="this.onerror=null; this.src='/images/no_image_available.jpg';">
            </td>
            <td class="align-middle text-center">
                <a th:href="@{/product/modify(id=${product.id})}" class="btn btn-success">修改</a>
                <a type="button" class="btn btn-danger" th:onclick="'deleteProduct(' + ${product.id} + ')'">刪除</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    function deleteProduct(productId) {
        if (!confirm("確認刪除？")) {
            return;
        }

        fetch(`/api/product/${productId}`, {
            method: 'DELETE'
        }).then(res => {
            if (res.ok) alert('刪除成功');
            location.reload();
        }).catch(error => {
            alert("刪除失敗");
        });
    }
</script>
</body>
</html>