<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>電商平台 - 商品詳情</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<div th:replace="~{fragment/navbar :: navbar}"></div>

<div class="container mt-5">
    <h3>商品詳情</h3>

    <div class="container card" style="background-color:lightgray">
        <div class="row" style="margin: 20px">
            <div class="col">
                <img th:src="@{/product/{id}/photo(id=${product.id})}" class="card-img-top p-4"
                     alt="Product Image" onerror="this.onerror=null; this.src='/images/no_image_available.jpg';">
            </div>
            <div class="col">
                <h2 th:text="${product.name}">商品名稱</h2>
                <p th:text="${product.description}">商品描述</p>
                <h3 th:text="'$'+${product.price}">價格</h3>
                <p th:text="'賣家：'+${product.member.account}">賣家</p>
                <p th:text="'庫存數量：'+${product.quantity}">賣家</p>
                <p>
                    <a type="button" class="btn btn-primary"
                       th:onclick="reduceCurrentQuantity()">-</a>&nbsp;
                    <span>
                        <label>
                            <input class="form-control" style="text-align: center" value=1
                                   id="quantity" size="5" disabled/>
                        </label>
                    </span>&nbsp;
                    <a type="button" class="btn btn-primary"
                       th:onclick="addCurrentQuantity()">+</a>&nbsp;
                    <a class="btn btn-danger">加入購物車</a>
                </p>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    /* DOM */
    let productQuantity = [[${product.quantity}]];

    /* 增加數量 */
    function addCurrentQuantity() {
        let quantityInput = document.getElementById("quantity");
        let currentQuantity = parseInt(quantityInput.value); // 每次更新都要抓 value
        if(currentQuantity >= productQuantity){
            return;
        }
        quantityInput.value = currentQuantity+1; // 更新要用 quantityInput.value
    }

    /* 減少數量 */
    function reduceCurrentQuantity() {
        let quantityInput = document.getElementById("quantity");
        let currentQuantity = parseInt(quantityInput.value); // 每次更新都要抓 value
        if(currentQuantity <= 1){
            return;
        }
        quantityInput.value = currentQuantity-1; // 更新要用 quantityInput.value
    }
</script>
</body>
</html>