<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>電商平台 - 商品詳情</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<div th:replace="~{fragment/navbar :: navbar}"></div>

<div class="container mt-5">
    <h3>商品詳情</h3>

    <div class="container card" style="background-color:lightgray">
        <div class="row" style="margin: 20px">
            <div class="col">
                <img th:src="@{/product/{id}/photo(id=${product.id})}" class="card-img-top p-4"
                     alt="Product Image" onerror="this.onerror=null; this.src='/images/no_image_available.jpg';">
            </div>
            <div class="col">
                <h2 th:text="${product.name}">商品名稱</h2>
                <p th:text="${product.description}">商品描述</p>
                <h3 th:text="'$'+${product.price}">價格</h3>
                <p th:text="'賣家：'+${product.member.account}">賣家</p>
                <a class="btn btn-danger">加入購物車</a>
            </div>
        </div>
    </div>
</div>
<script>
    /* 加入購物車 (未改) */
    function addProductIntoCart(cartId,product) {
        fetch(`/api/cart/${cartId}/quantity/increase`, {method: 'PUT'})
            .then(res => res.json())
            .then(updatedCart => {
                const row = document.getElementById(cartId);
                if (row) {
                    const quantitySpan = row.querySelector(".quantity");
                    const totalCell = row.querySelector(".total");

                    if (quantitySpan) {
                        quantitySpan.textContent = updatedCart.quantity;
                    }
                    if (totalCell) {
                        totalCell.textContent = updatedCart.product.price * updatedCart.quantity;
                    }
                }
            })
            .catch(error => {
                alert("增加數量失敗" + error);
            });
    }
</script>
</body>
</html>